.search-flex{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem 3rem;
    color: var(--grey);
    background-color: var(--darkgrey);
    width: 80%;
    margin: 1rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3rem;
}

.search-flex input{
    width: 100%;
    background-color: transparent;
    font-family: 'Inter';
    font-size: 1.2rem;
    color: var(--grey);
    border: none;
}

.search-flex input:focus{
    outline: none;
}


@media only screen and (max-width: 800px) {
    .search-flex{
        padding: .55rem 1rem;
        font-size: .9rem;
        gap: 1rem;

    }
}