.btn{
    background-color: var(--blue);
    color: var(--white) !important;
    padding: 0.5rem 1.5rem;
    border-radius: 3rem;
    font-weight: 600;
    cursor: pointer;
    transition: .3s ease-in-out;
    border: 2px solid var(--blue);
    min-width: 100px;
    text-align: center;
    text-transform: capitalize;
}

.btn:hover{
    box-shadow: 5px 5px 10px rgba(58, 128, 233, 1);
    transition: all .3s;
}


.outlined-btn{
    background-color: var(--black);
    color: var(--white);
    border: 2px solid var(--blue);
    padding: 0.5rem 1.5rem;
    border-radius: 3rem;
    font-weight: 600;
    text-transform: capitalize;
    min-width: 135px;
    cursor: pointer;
    transition: .3s ease-in-out;
    text-align: center;
}

.outlined-btn:hover{
    background-color: var(--blue);
    box-shadow: 5px 5px 10px rgba(58, 128, 233, 0.5);
    transition: all .3s;
}




@media screen and (max-width: 800px) {
    .btn{
        font-size: .65rem;
        max-width: 80px;
        padding: 0.5rem 1.5rem;
    }

    .outlined-btn{
        font-size: .65rem;
        min-width: 100px;
        padding: 0.5rem 1.5rem;
    }
}

/* @media screen and (max-width: 400px) {
    .btn{
        max-width: 80px;
    }
} */