.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--black);
    padding: 1rem 2rem;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
}
p{
    margin: 0;
}

.links{
    display: flex;
    gap: 15px;
    align-items: center;
}

.link{
    color: var(--grey);
    transition: .3s linear;
    font-size: 18px;
    padding: 10px;
    &:hover{
        color: var(--white);
    }
}


.mobile_drawer{
    display: none;
}



@media only screen and (max-width: 800px){
    .navbar{
        padding: .5rem 1rem;
    }
    .logo{
        font-size: 1.2rem;
    }
    .links{
        display: none;
    }
    .link{
        font-size: 12px;

    }

    .mobile_drawer{
        display: block;
    }

    .mobile_drawer .icon{
        font-size: 2rem;
    }

    .drawer_div{
        width: 40vw;
        height: 100vh;
        padding: 1.3rem;
        background-color: var(--black);
    }
    .css-1umw9bq-MuiSvgIcon-root{
        font-size: 2.5rem !important;
    }
    
}