.grid-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 1.5rem 2rem;
}

.list-table{
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}



@media only screen and (max-width: 900px) {
    .list-table{
        width: 100%;
    }
    .css-13xfq8m-MuiTabPanel-root{
        padding: 12px !important;
    }
}


@media only screen and (max-width: 600px) {
    .css-13xfq8m-MuiTabPanel-root{
        padding: 0px !important;
    }
}
